* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'TwentytwelveSansC';
  font-style: normal;
  src: url(@/assets/lifemart.ttf) format('truetype');
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: "> ";
}

.logoText {
  font-family: 'TwentytwelveSansC';
  font-size: 3em;
  color:#3f9e37; 
  position: absolute;
  line-height: 50%;
  top: 24px;
  left: 24px;
  z-index: 9999;
  -webkit-text-stroke: 1px #13332b;
}

.map__marker {
  width: 8px;
  height: 8px;
  background-color: #3f9e37;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.orderLog-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 320px;
}

.orderLog {
  height: 80vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.orderLog__order {
  background-color: #fff;
  color: #000;
  border-radius: 16px;
  padding: 8px 16px;
  margin: 8px;
  border: 2px solid #3f9e37;
  position: relative;
}

@media screen and (max-width: 800px) {
  .logoText {
    display: none;
  }
  .orderLog-container {
    width: 100%;
    left: 0;
  }
  .orderLog {
    height: 30vh;
  }
}

.orderLog__order-enter {
  opacity: 0;
  transform: translateX(200%);
}
.orderLog__order-enter-active {
  opacity: 1;
  transition: all 400ms ease-out;
  transform: translateX(0%);
}
.orderLog__order-exit {
  opacity: 1;
  transform: translateX(0%);
}

.orderLog__order-exit-active {
  opacity: 0;
  transition: all 400ms ease-out;
  transform: translateX(200%);
}

.order__code {
  position: absolute;
  top: 0;
  right: 6px;
  font-family: 'TwentytwelveSansC';
  font-size: 1.5em;
  opacity: 0.4;
}